*,
*::before,
*::after {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    font-family: var(--text-font);
    font-size: 12px;
}

h1, h2, h3 {
    margin: 0;
    font-family: var(--text-font);
}

// picture {
//     display: block;
// }