.copy {
    text-align: center;

    @include tablet {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 5rem;
    }

    &__logos {
        height: 70px;
        margin-bottom: 2rem;
        @include tablet {
            margin-bottom: 0;
        }
    }


    &__text {
        text-align: center;
        padding-bottom: .5rem;
        color: var(--text-color);
        font-weight: 300;

        @include tablet {
            font-size: 1rem;
        }
    }

    &__link {
        text-decoration: none;
        color: var(--button-text);
        font-weight: 700;

        @include hover {
            text-decoration: underline;
        }
    }
}