.mainNav {
    position: absolute;
    max-width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content:space-between;
    z-index: 1000000;
    margin-left: 1.5rem;
    margin-top: 3rem;

    @include tablet {
        flex-direction: row-reverse;
        justify-content: start;
        gap: 5rem;
        left: 0;
        margin-top: 1rem;
        margin-left: 4rem;

    }


    &__logo {
        padding-left: 30vw;

        @include tablet {
            padding-left: 0;
        }
    }

    &__logos {
        height: 20px;

        @include hover {
            filter: brightness(0%);
        }
    }
}