// -------------MENÚ MOBILE  NAV--------------------
.mainMenu {
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-color: rgba($color: #000000, $alpha: .5);
    transform: scale(0);
    opacity: 0;
    transition: none;
    z-index: 4;



    //--------------- MENÚ horizontal NAV-----------------
    @include tablet {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: space-between;
        top: 0;
        margin: 0;
        padding: 0;
        width: 62vw;
        height: initial;
        background-color: transparent;
        transform: scale(1);
        opacity: 1;
        transition: .2s ease-out;
        box-shadow: none;
    }

    // ---- LISTA Menu ----
    &__list {
        @include reset-list;
        background-color: var(--white-color);
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: end;
        gap: 1rem;
        padding-right: 1.5rem;
        padding-top: 3.5rem;
        padding-bottom: 3.5rem;

        @include tablet {
            background-color: transparent;
        }
    }


    &__link {
        display: block;
        text-decoration: none;
        color: var(--black-color);
        font-size: .9rem;
        font-weight: 600;
        position: relative;
        cursor: pointer;


        @include tablet {
            display: initial;
            font-weight: 500;
            color: var(--white-color);
            padding-right: 1rem;

            @include hover {
                &::after {
                    content: '';
                    position: absolute;
                    left: .5rem;
                    top: 1.5rem;
                    width: 1.7rem;
                    height: 4px;
                    background-color: var(--white-color);
                }
            }
        }
    }


}


/* -------- Nav activo con la clase ".active */
.mainMenu.active {
    transform: scale(1);
    opacity: 1;
    transition: .2s ease-out;
}
