//- doctype html
//- html(lang="en")
//-     head
//-         meta(charset="UTF-8")
//-         meta(http-equiv="X-UA-Compatible", content="IE=edge")
//-         meta(name="viewport", content="width=device-width, initial-scale=1.0")
//-         link(rel="shortcut icon", href="assets/images/ds-icon.ico" type="image/x-icon")
//-         link(rel="stylesheet", href="css/styles.css")
//-         title ROOM Homepage | Sánchez Dev
//-     body
//-         //- ------------- NAV -----------------------------
//-         nav.mainNav

//-             .mainMenu#mainMenu
//-                 ul.mainMenu__list
//-                     li.mainMenu__item: a(href="#").mainMenu__link home
//-                     li.mainMenu__item: a(href="#").mainMenu__link shop
//-                     li.mainMenu__item: a(href="#").mainMenu__link about
//-                     li.mainMenu__item: a(href="#").mainMenu__link contact

//-             //- MENÚ HAMBURGUESA
//-             .fas.fa-bars#menu-btn.menu-btn
                
//-             a(href="#").mainNav__logo: img(src="assets/images/logo.svg", alt="LOGO").mainNav__logos

        




//-         //- ------ HEADER --------------------------------
//-         header.header
//-             //- ----------- HERO (-- Contiene los 3 elementos para el SLIDER --) ----------
//-             .header-slider#slider

//-                 .header-section
//-                     .header-image
//-                         picture.picture
//-                             source(srcset="assets/images/image6.jpg" media="(max-width:900px)")
//-                             source(srcset="assets/images/image6.jpg.jpg")
//-                             img(src="assets/images/image6.jpg", alt="HERO Image 1").header-img

//-                     .header-content
//-                         h1.header-title Discover innovative ways to decorate
//-                         p.header-text We provide unmatched quality, comfort, and style for property owners across the country. Our experts combine form and function in bringing your vision to life. Create a room in your own style with our collection and make your property a reflection of you and what you love.

//-                         .cta
//-                             a(href="#").cta__link Shop now
//-                             img(src="assets/images/icon-arrow.svg", alt="ARROW").cta__icon


//-                 .header-section
//-                     .header-image
//-                         picture.picture
//-                             source(srcset="assets/images/mobile-image-hero-2.jpg" media="(max-width:900px)")
//-                             source(srcset="assets/images/desktop-image-hero-2.jpg")
//-                             img(src="assets/images/desktop-image-hero-2.jpg", alt="HERO Image 2").header-img

//-                     .header-content
//-                         h2.header-title We are available all across the globe
//-                         p.header-text With stores all over the world, it's easy for you to find furniture for your home or place of business. Locally, we’re in most major cities throughout the country. Find the branch nearest you using our store locator. Any questions? Don't hesitate to contact us today.

//-                         .cta
//-                             a(href="#").cta__link Shop now
//-                             img(src="assets/images/icon-arrow.svg", alt="ARROW").cta__icon


//-                 .header-section
//-                     .header-image
//-                         picture.picture
//-                             source(srcset="assets/images/mobile-image-hero-3.jpg" media="(max-width:900px)")
//-                             source(srcset="assets/images/desktop-image-hero-3.jpg")
//-                             img(src="assets/images/desktop-image-hero-3.jpg", alt="HERO Image 3").header-img

//-                     .header-content
//-                         h2.header-title Manufactured with the best materials
//-                         p.header-text Our modern furniture store provide a high level of quality. Our company has invested in advanced technology to ensure that every product is made as perfect and as consistent as possible. With three decades of experience in this industry, we understand what customers want for their home and office.

//-                         .cta
//-                             a(href="#").cta__link Shop now
//-                             img(src="assets/images/icon-arrow.svg", alt="ARROW").cta__icon

//-             //- ------- ARROWS -----------
//-             .arrows
//-                 .arrows__cont--prev
//-                     img(data-direction="left" src="assets/images/icon-left.svg", alt="LEFT").arrows__prev#prev
//-                 .arrows__cont--next
//-                     img(data-direction="right" src="assets/images/icon-right.svg", alt="RIGHT").arrows__next#next




//-         //- -------------- MAIN -----------------------
//-         main.main

//-             //- ------------ SECTION ABOUT ---------------
//-             section.section
//-                 img(src="assets/images/image-about-dark.jpg", alt="ABOUT DARK").section-first

//-                 .section-middle
//-                     h3.section-title About our furniture
//-                     p.section-text Our multifunctional collection blends design and function to suit your individual taste. Make each room unique, or pick a cohesive theme that best express your interests and what inspires you. Find the furniture pieces you need, from traditional to contemporary styles or anything in between. Product specialists are available to help you create your dream space.

//-                 img(src="assets/images/image-about-light.jpg", alt="ABOUT LIGHT").section-last




//-         //- ------------------- FOOTER -------------
//-         footer.footer

//-             .copy
//-                 .copy__logo
//-                     img(src="assets/images/ds-logo.png", alt="LOGO-DS").copy__logos
//-                 .copy__text © 2021 
//-                     a(href="https://darwinsanchez9018.github.io/Frontend-Porfolio/" target="_blank").copy__link Darwin Sánchez. 
//-                     |All rights reserved.


//-         //- ------------- SCRIPTS & ICONS font awesome
//-         script(src="js/scripts-dist.js")

//-         script(src="https://kit.fontawesome.com/a0ab449b77.js" crossorigin="anonymous")
